<h1>AnaSayfa</h1>
<p>Burada bu web sitesinin ne ise yaradığı ,AnaSayfa içerisinde kullanılan algoritmalar vs gibi bilgiler yer alacak .</p>
<p>Diskjtra , Prim ,# Kurksal  açıklaması </p>
<p>NN tuşuna basınca düğüm siliyor - E tuşuna basınca kenar silyor</p>

